/*×¢²á*/
.my_a{
    color:#fff;
    font-size: 0.8rem;
    font-weight:500;
}
.my_a:hover{
    text-decoration:none;
    color:#aaa;
    font-weight:800;
}
.my_font{font-size:0.8rem;}
.my_reg_bg{
    background-image:url("http://www.codeboy.com/img/register/bg.png");
    background-repeat:no-repeat;
    /* background-attachment:fixed; */
    /* background-position-y: 44%; */
    background-size:cover;
    height:35rem;
    display: flex;
    justify-content: flex-end;
}
.my_reg{
    background:rgba(0,0,0,0.3);
    border-radius:3%;
    height:29rem;
    width:30rem;
    margin-top:2.75rem;
}
.my_check_div{
    height:2rem;
    margin-bottom:1.8rem;
    margin-top:1rem;
}
/*µÇÂ¼*/
.my_log{
    background:rgba(0,0,0,0.3);
    width:16rem;
    height:20rem;
    border-radius:3%;
    margin-top:5rem;
}
.my_input1,.my_input2{
    background-image:url("http://www.codeboy.com/img/login/yhm.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.my_input2{
    background-image:url("http://www.codeboy.com/img/login/mm.png");
}